.DishCard{
    width: 80vw;
    margin-top: 20px;
    box-shadow: 0px 0px 10px black;
    height: 250px;
    display: flex;
    margin: 20px auto;
}

.FoodLeft{
    width: 50vw;
}

.DishImage{
    height: 100%;
    width: 100%;
}

.FoodRight{
    width: 50%;
    padding: 20px;
    margin-top: 30px;
}

.FoodRight > button, p{
    margin-top: 20px;
}